
.sp {
	outline: none !important;
}

.buttonGet:HOVER, 
.buttonClear:HOVER,
.buttonID:HOVER, 
.buttonFree:HOVER, 
.buttonPrice:HOVER {
	opacity: 0.7;
}

.buttonGet:ACTIVE, 
.buttonClear:ACTIVE, 
.buttonID:ACTIVE, 
.buttonFree:ACTIVE, 
.buttonPrice:ACTIVE {
	opacity: 0.5;
}

.buttonGet,
.buttonClear,
.buttonID,
.buttonFree,
.buttonPrice {
	border-radius: 35px;
	border: none;
	text-align: center;
	font-size: 28px;
	color: #FFFFFF;
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
}






/* GET ALL BUTTON */
.buttonGet {
	width: 200px;
	background-color: #4CAF50;
	animation-duration: 0.5s;
}
/* ID-SEARCH BUTTON */
.buttonID {
	width: 260px;
	background-color: #4CAF50;
	animation-duration: 0.6s;
}
/* FREE-SEARCH BUTTON */
.buttonFree {
	width: 260px;
	background-color: #4CAF50;
	animation-duration: 0.7s;
}
/* PRICE-SEARCH BUTTON */
.buttonPrice {
	width: 260px;
	background-color: #4CAF50;
	animation-duration: 0.8s;
}
/* CLEAR BUTTON */
.buttonClear {
  	background-color: #f4511e;
	width: 220px;
	animation-duration: 0.9s;
}




.buttonGet#backbutton {
	background-color: #f4511e;
}

.buttonGet span, 
.buttonClear span, 
.buttonID span, 
.buttonFree span, 
.buttonPrice span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.buttonID span:AFTER, 
.buttonFree span:AFTER, 
.buttonPrice span:AFTER  {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.buttonID:hover span, 
.buttonFree:hover span, 
.buttonPrice:hover span {
	padding-right: 25px;
}


.buttonID:hover span:after, 
.buttonFree:hover span:after, 
.buttonPrice:hover span:after {
	opacity: 1;
	right: 0;
}

@-webkit-keyframes animatebottom {
	from {
	  bottom:-100px;
	  opacity:0;
	} 
	to {
	  bottom:0px;
	  opacity:1;
	}
}
@keyframes animatebottom { 
	from {
	  bottom:-100px;
	  opacity:0;
	} 
	to {
	  bottom:0;
	  opacity:1;
	}
}








