div#spacediv {
	background-color: orange;
}

div.divisionclass {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 10s;
	animation-name: animatebottom;
	animation-duration: 10s;	
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}