h1 {
	-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */                                  
}

h1, input#id, input#free {
	-webkit-animation-name: animate;
	-webkit-animation-duration: 1.5s;
	animation-name: animate;
}

@-webkit-keyframes animate {
	from {
	  bottom:-100px;
	  opacity:0;
	} 
	to {
	  bottom:0px;
	  opacity:1;
	}
}
@keyframes animate { 
	from {
	  bottom:-100px;
	  opacity:0;
	} 
	to {
	  bottom:0;
	  opacity:1;
	}
}

input#id, input#free {
	background-color: ivory;
	color: #979797;
	padding-left:1rem;
	width: 7em;
	font-size: xx-large;
	text-align: left;
	text-transform: uppercase;
	border:solid 3px #BFBDBD;
}

input#free {
	width: 13em;
}
p#info {
	text-align: center;
	text-transform: capitalize;
	color: gray;
}

